Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Ram chandra B"
COLLABORATORS = "Nikole simakov"

---

# Instructions 
For every exercise, simply write your sql statement in a variable called `sql_statement`. `output columns` tells you which columns to include in your select statement.

In [ ]:
# Setup
from IPython.display import display, HTML
import pandas as pd
import sqlite3
conn = sqlite3.connect("homework5.db")
cur = conn.cursor()

In [ ]:
sql_statement = "select * from customers;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

In [ ]:
sql_statement = "select * from orders;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

In [ ]:
sql_statement = "select * from vendors;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

In [ ]:
sql_statement = "select * from products;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

In [ ]:
sql_statement = "select * from orderitems;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

In [ ]:
sql_statement = "select * from productnotes;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

In [ ]:
def ex1():
    # Write an SQL statement that SELECTs all rows from the `customers` table
    # output columns: cust_name, cust_email

    # YOUR CODE HERE
    sql_statement="select cust_name,cust_email from customers"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex1()
data = pd.read_csv("ex1.csv") 
cur = conn.cursor()
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex2():
    # Write an SQL statement that SELECTs all rows from the `products` table
    # output columns: vend_id

    # YOUR CODE HERE
    sql_statement="select vend_id from products"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex2()
data = pd.read_csv("ex2.csv")
cur = conn.cursor()
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex3():
    # Write an SQL statement that SELECTs distinct rows for vend_id from the `products` table
    # output columns: vend_id

    # YOUR CODE HERE
    sql_statement="select distinct vend_id from products"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex3()
data = pd.read_csv("ex3.csv")
cur = conn.cursor()
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex4():
    # Write an SQL statement that SELECTs the first five rows from the `products` table
    # output columns: prod_name

    # YOUR CODE HERE
    #for i in range(5):
    sql_statement="select prod_name from products limit 5"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex4()
data = pd.read_csv("ex4.csv")
cur = conn.cursor()
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex5():
    # Write an SQL statement that SELECTs 4 rows starting from row 3 from `products` table
    # output columns: prod_name

    # YOUR CODE HERE
    sql_statement="select prod_name from products limit 4 offset 3"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df[2:6])
    return sql_statement

In [ ]:
sql_statement = ex5()
data = pd.read_csv("ex5.csv")
cur = conn.cursor()
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex6():
    # Write an SQL statement that SELECTs all rows from `products` table and sorts by prod_name
    # output columns: prod_name
    # YOUR CODE HERE
    sql_statement="select prod_name from products order by prod_name"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex6()
data = pd.read_csv("ex6.csv")
cur = conn.cursor()
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex7():
    # Write an SQL statement that SELECTs all rows from `products` table and sorts by prod_price and then prod_name 
    # output columns: prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select prod_id, prod_price, prod_name from products order by prod_price,prod_name"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex7()
data = pd.read_csv("ex7.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex8():
    # Write an SQL statement that SELECTs all rows from `products` table and sorts by prod_price (descending order)
    # and then prod_name 
    # output columns: prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select prod_id, prod_price, prod_name from products order by prod_price DESC, prod_name"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex8()
data = pd.read_csv("ex8.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex9():
    # Write an SQL statement that SELECTs all rows from `products` table where the price of product is 2.50
    # output columns: prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select prod_id, prod_price, prod_name from products where prod_price=2.50"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex9()
data = pd.read_csv("ex9.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex10():
    # Write an SQL statement that SELECTs all rows from `products` table where the name of product is Oil can
    # output columns: prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select prod_id, prod_price, prod_name from products where prod_name='Oil can'"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex10()
data = pd.read_csv("ex10.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex11():
    # Write an SQL statement that SELECTs all rows from `products` table where the price of product is 
    # less than or equal to 10
    # output columns: prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select prod_id, prod_price, prod_name from products where prod_price<=10"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex11()
data = pd.read_csv("ex11.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex12():
    # Write an SQL statement that SELECTs all rows from `products` table where the vendor id is not equal to 1003
    # output columns: vend_id, prod_name

    # YOUR CODE HERE
    sql_statement="select vend_id,prod_name from products where vend_id <> 1003"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex12()
data = pd.read_csv("ex12.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex13():
    # Write an SQL statement that SELECTs all rows from `products` table where the product prices are between 5 and 10
    # output columns: prod_name, prod_price

    # YOUR CODE HERE
    sql_statement="select prod_name, prod_price from products where prod_price between 5 and 10 "
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex13()
data = pd.read_csv("ex13.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex14():
    # Write an SQL statement that SELECTs all rows from the `customers` table where the customer email is empty
    # output columns: cust_id, cust_name

    # YOUR CODE HERE
    sql_statement="select cust_id, cust_name from customers where cust_email is null"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex14()
data = pd.read_csv("ex14.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex15():
    # Write an SQL statement that SELECTs all rows from the `products` table where the vender id is 1003 and
    # the price is less than or equal to 10. 
    # output columns: , prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select vend_id,prod_id,prod_price,prod_name from products where vend_id = 1003 and prod_price<=10"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex15()
data = pd.read_csv("ex15.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex16():
    # Write an SQL statement that SELECTs all rows from the `products` table where the vender id is 1002 or 1003 and
    # the price is greater than or equal to 5. 
    # output columns: vend_id, prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select vend_id,prod_id,prod_price,prod_name from products where (vend_id = 1002 or vend_id=1003) and prod_price>=5"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex16()
data = pd.read_csv("ex16.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex17():
    # Write an SQL statement that SELECTs all rows from the `products` table where the vender id is 1002 or 1003 or 1005.
    # Use the IN operator for this!
    # output columns: vend_id, prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select vend_id,prod_id,prod_price,prod_name from products where vend_id in (1002,1003,1005)"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex17()
data = pd.read_csv("ex17.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex18():
    # Write an SQL statement that SELECTs all rows from the `products` table where the vender id is NOT 1002 or 1003.
    # Use the NOT IN operator for this!
    # output columns: vend_id, prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select vend_id,prod_id,prod_price,prod_name from products where vend_id not in (1002,1003)"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex18()
data = pd.read_csv("ex18.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex19():
    # Write an SQL statement that SELECTs all rows from the `products` table where the product name starts with 'jet'
    # output columns: prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select prod_id,prod_price,prod_name from products where prod_name like 'jet%'"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex19()
data = pd.read_csv("ex19.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex20():
    # Write an SQL statement that SELECTs all rows from the `products` table where the product name ends with 'anvil'
    # output columns: prod_id, prod_price, prod_name

    # YOUR CODE HERE
    sql_statement="select prod_id,prod_price,prod_name from products where prod_name like '%anvil'"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex20()
data = pd.read_csv("ex20.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex21():
    # Write an SQL statement that SELECTs all rows from the `vendors` table. Concatenate vendor name and vendor country
    # as vend_title. Order by vend_title. Leave space in between -- example `ACME (USA)`
    # output columns: vend_title

    # YOUR CODE HERE
    #sql_statement="select (vend_name+' ('+vend_country+')') as vend_title from vendors order by vend_title"
    sql_statement="select vend_name ||' '||'('|| vend_country ||')' as vend_title from vendors order by vend_title"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex21()
data = pd.read_csv("ex21.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex22():
    # Write an SQL statement that SELECTs all rows from the `orderitems` table where order number is 20005. 
    # Display an extra calculated column called `expanded_price` that is the result of quantity multiplied by item_price.
    # Round the value to two decimal places. 
    # output columns: prod_id, quantity, item_price, expanded_price

    # YOUR CODE HERE
    sql_statement="select prod_id, quantity,item_price, round(quantity*item_price,2) as expanded_price from orderitems where order_num=20005"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex22()
data = pd.read_csv("ex22.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex23():
    # Write an SQL statement that SELECTs all rows from the `orders` table where the order date is between 
    # 2005-09-13 and 2005-10-04
    # output columns: order_num, order_date
    # https://www.sqlitetutorial.net/sqlite-date-functions/sqlite-date-function/
    
    # YOUR CODE HERE
    sql_statement="select order_num,order_date from orders where order_date between '2005-09-13' and '2005-10-04' "
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex23()
data = pd.read_csv("ex23.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex24():
    # Write an SQL statement that calculates the average price of all rows in the `products` table. 
    # Call the average column avg_price
    # output columns: avg_price

    # YOUR CODE HERE
    sql_statement="select avg(prod_price) as avg_price from products"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex24()
data = pd.read_csv("ex24.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex25():
    # Write an SQL statement that calculates the average price of all rows in the `products` table 
    # where the vendor id is 1003 . Call the average column avg_price
    # output columns: avg_price

    # YOUR CODE HERE
    sql_statement="select avg(prod_price) as avg_price from products where vend_id=1003"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex25()
data = pd.read_csv("ex25.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex26():
    # Write an SQL statement that counts the number of customers in the `customers` table 
    # Call the count column num_cust
    # output columns: num_cust

    # YOUR CODE HERE
    sql_statement="select count(cust_id) as num_cust from customers"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex26()
data = pd.read_csv("ex26.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex27():
    # Write an SQL statement that calculates the max price in the `products` table 
    # Call the max column max_price. Round the value to two decimal places. 
    # output columns: max_price

    # YOUR CODE HERE
    sql_statement="select max(prod_price) as max_price from products "
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex27()
data = pd.read_csv("ex27.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex28():
    # Write an SQL statement that calculates the min price in the `products` table 
    # Call the min column min_price. Round the value to two decimal places. 
    # output columns: num_cust

    # YOUR CODE HERE
    sql_statement="select min(prod_price) as min_price from products "
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex28()
data = pd.read_csv("ex28.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
def ex29():
    # Write an SQL statement that sums the quantity in the `orderitems` table where order number is 20005. 
    # Call the sum column items_ordered
    # output columns: items_ordered

    # YOUR CODE HERE
    sql_statement="select sum(quantity) as items_ordered from orderitems where order_num=20005"
    #raise NotImplementedError()
    df = pd.read_sql_query(sql_statement, conn)
    display(df)
    return sql_statement

In [ ]:
sql_statement = ex29()
data = pd.read_csv("ex29.csv")
df = pd.read_sql_query(sql_statement, conn)
assert df.equals(data) == True

In [ ]:
class IteratorClass:
    ## Complete this class! It takes in three inputs when initializing. 
    # input#1 x -- is a sequence, either a list or a tuple. Raise a ValueError if it is not a list or a tuple
    # input#2 y -- is a sequence, either a list or a tuple. Raise a ValueError if it is not a list or a tuple
    # input#3 operator -- is a string that can either be 'add', 'sub', 'mul', 'div' -- If the specified operator
    # is not one of these, raise a ValueError. 
    
    # Complete the class by writing functions that will turn it into an iterator class. 
    # https://www.programiz.com/python-programming/methods/built-in/iter
    # The purpose of the class is to take two lists(x and y), apply the specified operator and return the output
    # as an iterator, meaning you can do "for ele in IteratorClass(x,y,'add')"
    # NOTE: For the / operator, round to two decimal places
    # Raise ValueError when the length is not the same for both inputs
    # Raise ValueError when the operator is not add, sub, mul, or div. 
    
    
    # YOUR CODE HERE
    def __init__(self,x,y,opt):
        if (type(x) == tuple or type(x) == list) and (type(y) == tuple or type(y) == list) and opt in ["add", "sub", "mul", "div"]:
            self.x = x
            self.y = y
            self.opt = opt
        else:
            raise ValueError
    
    def __next__(self):
        if len(self.val)==self.p:
            raise StopIteration
        else:
            self.p+=1
            return self.val[self.p-1]
        
    def __iter__(self):
        if self.opt=='add':
            self.val=[self.x[i]+self.y[i] for i in range(len(self.x))]
        elif self.opt=='sub':
            self.val= [self.x[i]-self.y[i] for i in range(len(self.x))]
        elif self.opt=='mul':
            self.val=[self.x[i]*self.y[i] for i in range(len(self.x))]
        elif self.opt=='div':
            self.val=[round(self.x[i]/self.y[i],2) for i in range(len(self.x))]
                                                            
        self.p=0
        return self

In [ ]:
from nose.tools import assert_raises
assert_raises(ValueError, IteratorClass, range(5,10), [1,2,3], 'div')
assert_raises(ValueError, IteratorClass, [1,2,3], range(5,10), 'div')
assert_raises(ValueError, IteratorClass, [1,2,3], [1,2,3], 'abc')

In [ ]:
x = list(range(5,10))
y = list(range(50,55))

add_iterator = IteratorClass(x,y,'add')
sub_iterator = IteratorClass(x,y,'sub')
mul_iterator = IteratorClass(x,y,'mul')
div_iterator = IteratorClass(x,y,'div')

assert [ele for ele in add_iterator] == [55, 57, 59, 61, 63]
assert [ele for ele in sub_iterator] == [-45, -45, -45, -45, -45]
assert [ele for ele in mul_iterator] == [250, 306, 364, 424, 486]
assert [ele for ele in div_iterator] == [0.1, 0.12, 0.13, 0.15, 0.17]

In [2]:
from collections.abc import Iterable


class ListV2:
    # Complete this class to fulfill the following requirement
    # 1) The class only takes one input argment which is a list or a tuple;
    # Raise ValueError if the input is not a list or tuple
    # 2) The class overload loads +,-,*,/ and returns a ListV2 object as the result
    # 3) The class can handle +,-,*,/ for both list and int/float, meaning the thing to the right of the operator
    # can be a sequence or a number;
    # 4) The class is an interator class
    # HINT: Study the assert statements below to understand how this class is being used and reverse engineer it!
    # NOTE: For the / operator, round to two decimal places

    def __init__(self,p):
        if type(p) in (list,tuple):
            self.p = p
        else:
            raise ValueError
            
        
    def __iter__(self):
        self.value=0
        return self
    
    def __next__(self):
        if self.value < len(self.p):
            self.value +=1
            return self.p[self.value-1]
        else:
            raise StopIteration

    def __add__(self,q):
        nexxt = []
        if type(q)== ListV2:
            for i in range(0,len(self.p)):
                nexxt.append(self.p[i]+q.p[i])
            return(ListV2(nexxt))
        
        elif type(q) in (int,float):
            for i in range(0,len(self.p)):
                nexxt.append(self.p[i]+q)
            return(ListV2(nexxt))
            
    
    def __sub__(self,q):
        nexxt = []
        if type(q) == ListV2:
            for i in range(0,len(self.p)):
                nexxt.append(self.p[i]-q.p[i])
            return(ListV2(nexxt))
        
        elif type(q) in (int,float):
            for i in range(0,len(self.p)):
                nexxt.append(self.p[i]-q)
            return(ListV2(nexxt))
       
            
            
    def __mul__(self,q):
        nexxt = []
        if type(q) == ListV2:
            for i in range(0,len(self.p)):
                nexxt.append(self.p[i]*q.p[i])
            return(ListV2(nexxt))
        
        elif type(q) in (int,float):
            for i in range(0,len(self.p)):
                nexxt.append(self.p[i]*q)
            return(ListV2(nexxt))
       
            
    def __truediv__(self,q):
        nexxt = []
        if type(q)== ListV2:
            for i in range(0,len(self.p)):
                nexxt.append(round(self.p[i]/q.p[i],2))
            return(ListV2(nexxt))
        
        elif type(q) in (int,float):
            for i in range(0,len(self.p)):
                nexxt.append(round(self.p[i]/q,2))
            return(ListV2(nexxt))

In [ ]:
l1 = ListV2(list(range(5,10)))
l2 = ListV2(list(range(50,55)))

from nose.tools import assert_raises
assert_raises(ValueError, ListV2, 3)

result = l1 + l2
assert type(result) == ListV2
assert [ele for ele in result] == [55, 57, 59, 61, 63]
result = l1 - l2
assert [ele for ele in result] == [-45, -45, -45, -45, -45]
result = l1 * l2
assert [ele for ele in result] == [250, 306, 364, 424, 486]
result = l1 / l2
assert [ele for ele in result] == [0.1, 0.12, 0.13, 0.15, 0.17]

result = l1 + 5
assert [ele for ele in result] == [10, 11, 12, 13, 14]
result = l1 - 5
assert [ele for ele in result] == [0, 1, 2, 3, 4]
result = l1 * 5
assert [ele for ele in result] == [25, 30, 35, 40, 45]
result = l1 / 5
assert [ele for ele in result] == [1.0, 1.2, 1.4, 1.6, 1.8]